<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles1.css">
  <title>About Us | Recipe Haven</title>
</head>
<body>
  <header>
    <img src="/images/logo.png" alt="Recipe Haven Logo" style="height: 50px;">
    <h1>About Delicious Recipes </h1>
    <nav>
      <a href="/">Home</a>
      <a href="/recipes">Recipes</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main class="about-page">
    <p>At Delicious Recipes , we are passionate about sharing delicious and accessible recipes that everyone can enjoy. Our goal is to inspire home cooks of all levels to explore the joy of cooking and to try new dishes.</p>
    <p>We believe that cooking is a way to connect with family and friends, and our diverse collection of recipes reflects flavors from around the world. Whether you’re looking for quick weeknight dinners, elegant desserts, or hearty comfort food, we have something for you.</p>
    <p>Join us in our culinary journey, and let’s create unforgettable meals together!</p>
  </main>
  <footer>
    <p>&copy; 2024 Delicious Recipes | Your Go-To Food Recipe Website</p>
  </footer>
</body>
</html>
